name: Build Image and Push to Docker Hub

# Env variable
env:
  DOCKER_USER: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  IMAGE_TAG: v1

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: ["main"]
    types: ["closed"]

jobs:
  build-push-image:
    if: ${{ contains(github.event.head_commit.message, 'BUILD_CONTAINER_IMAGE') || github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Login into Docker Hub
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $DOCKER_USER/guestbook-go:$IMAGE_TAG
    
    - name: Push image to Docker Hub
      run: docker push $DOCKER_USER/guestbook-go:$IMAGE_TAG
